@font-face {
  font-family: 'CircularXXWeb-Book';
  src: url('CircularXXWeb-Book.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXWeb-Book';
  src: url('CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXWeb-Light';
  src: url('CircularXXWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXWeb-Light';
  src: url('CircularXXWeb-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXWeb-Regular';
  src: url('CircularXXWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXWeb-Regular';
  src: url('CircularXXWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXWeb-Medium';
  src: url('CircularXXWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXWeb-Medium';
  src: url('CircularXXWeb-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXWeb-Bold';
  src: url('CircularXXWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXWeb-Bold';
  src: url('CircularXXWeb-Bold.woff2') format('woff2');
}

/* subset */

@font-face {
  font-family: 'CircularXXSub-Book';
  src: url('CircularXXSub-Book.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXSub-Book';
  src: url('CircularXXSub-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXSub-Light';
  src: url('CircularXXSub-Light.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXSub-Light';
  src: url('CircularXXSub-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXSub-Regular';
  src: url('CircularXXSub-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXSub-Regular';
  src: url('CircularXXSub-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXSub-Medium';
  src: url('CircularXXSub-Medium.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXSub-Medium';
  src: url('CircularXXSub-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularXXSub-Bold';
  src: url('CircularXXSub-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXSub-Bold';
  src: url('CircularXXSub-Bold.woff2') format('woff2');
}
